{% extends "log.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="form row mb-5">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="email" class="form-control mb-3" name="email" placeholder="Adresse email" required>
                <input type="password" class="form-control mb-3" name="password" placeholder="Mot de passe" required>
                <button type="submit" class="btn bg-g mt-2 mb-3 col-wh">S'inscrire</button>
            </form>
            <p class="text-center">Déjà inscrit ? <a href="#">Connectez-vous</a></p>
        </div>
        <div class="container mt-5"><hr></div>
        <p class="text-center">© 2025 PANTAGONE</p>
    </div>
 {% endblock %}