--
-- ======== Début : schema_messagerie.sql ========
-- Create model Conversation
--
CREATE TABLE `messagerie_conversation` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `date_creation` datetime(6) NOT NULL);
--
-- Create model ConversationUser
--
CREATE TABLE `messagerie_conversationuser` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `conversation_id` bigint NOT NULL, `user_id` integer NOT NULL);
--
-- Add field participants to conversation
--
-- (no-op)
--
-- Create model Message
--
CREATE TABLE `messagerie_message` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `contenu` longtext NOT NULL, `timestamp` datetime(6) NOT NULL, `auteur_id` integer NOT NULL, `conversation_id` bigint NOT NULL);
ALTER TABLE `messagerie_conversationuser` ADD CONSTRAINT `messagerie_conversat_conversation_id_9ebedd6a_fk_messageri` FOREIGN KEY (`conversation_id`) REFERENCES `messagerie_conversation` (`id`);
ALTER TABLE `messagerie_conversationuser` ADD CONSTRAINT `messagerie_conversationuser_user_id_92c97437_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`);
CREATE INDEX `messagerie_conversationuser_conversation_id_9ebedd6a` ON `messagerie_conversationuser` (`conversation_id`);
CREATE INDEX `messagerie_conversationuser_user_id_92c97437` ON `messagerie_conversationuser` (`user_id`);
ALTER TABLE `messagerie_message` ADD CONSTRAINT `messagerie_message_auteur_id_eed9efe5_fk_auth_user_id` FOREIGN KEY (`auteur_id`) REFERENCES `auth_user` (`id`);
ALTER TABLE `messagerie_message` ADD CONSTRAINT `messagerie_message_conversation_id_7f56aa1a_fk_messageri` FOREIGN KEY (`conversation_id`) REFERENCES `messagerie_conversation` (`id`);
CREATE INDEX `messagerie_message_auteur_id_eed9efe5` ON `messagerie_message` (`auteur_id`);
CREATE INDEX `messagerie_message_conversation_id_7f56aa1a` ON `messagerie_message` (`conversation_id`);
