--
-- ======== Début : schema_auth_app.sql ========
-- Create model Users
--
CREATE TABLE `auth_app_users` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `first_name` varchar(50) NOT NULL, `last_name` varchar(50) NOT NULL, `password` varchar(20) NOT NULL);
