--
-- ======== Début : schema_trajet.sql ========
-- Create model Trajet
--
CREATE TABLE `trajet_trajet` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `role` varchar(20) NOT NULL, `lieu_depart` varchar(150) NOT NULL, `lieu_arrivee` varchar(150) NOT NULL, `latitude_depart` double precision NOT NULL, `longitude_depart` double precision NOT NULL, `heure` time(6) NOT NULL, `nb_places` integer UNSIGNED NULL CHECK (`nb_places` >= 0), `commentaire` longtext NOT NULL, `date_creation` datetime(6) NOT NULL, `user_id` integer NOT NULL);
ALTER TABLE `trajet_trajet` ADD CONSTRAINT `trajet_trajet_user_id_b222e47a_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`);
CREATE INDEX `trajet_trajet_user_id_b222e47a` ON `trajet_trajet` (`user_id`);
