.bg-g{
    background-color: #4DD5DC;
}
.col-g{
    color: #4DD5DC;
}
.bg-b{
    background-color: #57A2C0;
}
.col-wh{
    color: white;
}
.bg-whk{
    background-color: #D9D9D9;
}
.bg-wh{
    background-color: white;
}