{% extends 'auth_app/connected.html' %}
{% load static %}

{% block title %}Accueil - RIDE4IFRI{% endblock %}


{% block chrono %}{% endblock chrono %}




{% block content %}
    
<svg class="ms-3 d-block ban_clock" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#boxShadow)">
    <path d="M 0 0 L 10 0 L 10 8 L 5 12 L 0 8 Z" fill="white" stroke="black" stroke-width="0.3" stroke-opacity="0.4"/>

    <!-- Icône centrée -->
    <g transform="translate(5,3) scale(0.15) translate(-12,-12)" text-anchor="middle">
        <circle cx="12" cy="12" r="11" fill="none" stroke="black" stroke-width="1"/>
        <rect width="2" height="7" x="11" y="6" fill="black" rx="1">
        <animateTransform attributeName="transform" dur="9s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/>
        </rect>
        <rect width="2" height="9" x="11" y="11" fill="black" rx="1">
        <animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/>
        </rect>
    </g>

    <!-- Texte centré -->
    <text x="5" y="6.5" font-size="1.1" font-family="Arial" fill="black" text-anchor="middle">00:00:00</text>
    <text x="5" y="8" font-size="0.9" font-family="Arial" fill="black" text-anchor="middle">avant la prochaine</text>
    <text x="5" y="9" font-size="0.8" font-family="Arial" fill="black" text-anchor="middle">rencontre</text>
    </g>
</svg>


    <!-- Carte de Trajet -->
    <div class="card mb-4 shadow">
        <img src="{% static 'img/trajet.webp' %}"  alt="Trajet">
        <div class="card-body d-flex justify-content-between">
            <a href="#" class="btn btn-outline-danger btn-sm">Supprimer</a>
            <a href="#" class="btn btn-outline-primary btn-sm">Modifier</a>
        </div>
    </div>

    <!-- Bouton Partager -->
    <div class="card-body text-center p-4">
        <a href="#" class="btn btn-partager px-4 py-2 w-100">Partager un nouveau trajet +</a>
    </div>

{% endblock %}