{% extends "auth_app/log.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="form row mb-5">
            <form method="post" action="{% url 'login2' %}">
                {% csrf_token %}
                <input type="text" class="form-control mb-3" name="phone_number" placeholder="Numéro de téléphone" required>
                <input type="password" class="form-control mb-3" name="password" placeholder="Mot de passe" required>
                <button type="submit" class="btn bg-g mt-2 mb-3 col-wh">Se connecter</button>
            </form>
            <p class="text-center"><a href="{% url 'login1' %}">Ou connexion via numéro votre adresse email</a></p>
            <p class="text-center">Vous n’êtes pas encore inscrit? <a href="{% url 'register' %}">S'inscrire</a></p>
        </div>
        <div class="container mt-5"><hr></div>
        <p class="text-center">© 2025 PANTAGONE</p>
    </div>
 {% endblock %}